#footer{
  background-color: $terciaryOrange;
}

.footer-content-contain{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;

  .footer-col{
    text-align: center;
    background-color: red;
  }
}

.footer-1{
  grid-template-columns: 1fr;
}

.footer-2{
  grid-template-columns: 1fr 1fr;
}

.footer-3{
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-4{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#copyright{
  background-color: $mainOrange;
  text-align: center;
  padding: 10px;
}
