.post{
  margin-bottom: 25px;

  a{
    color: $mainGreen;
  }

  .post-entry-header{
    margin-bottom: 5px;
  }

  .post-entry-content{
    margin-bottom: 10px;
  }
}

.post-entry-title{
  font-size: 18px;
}

.post-entry-thumbnail img{
  max-width: 100%;
  height: auto;
}
