@media (max-width: 720px) {
  #masthead {
    .container {
      .main-nav {
        .mobile-nav-btn {
          display: inline-block;

          button{
            .hamburger-inner,
            .hamburger-inner::before,
            .hamburger-inner::after{
              background-color: $mainOrange;
            }
          }
        }

        nav {
          display: none;
          position: absolute;
          margin: 0 auto;
          text-align: center;
          width: 100%;
          top: 10%;
          z-index: 1000;
          background-color: $white;
          padding-bottom: 100%;

          ul {
            li {
              display: block;
              margin: 30px 0;
            }
          }
        }

        .active-menu{
          display: block;
        }
      }
    }
  }
}
