* {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1.25;
}

html, body {
  height: 100%;
}

body{
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: auto;
  background-color: #F9F9F9;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}

a{
  text-decoration: none;
  color: $mainOrange;
}

input, button{
  outline: none;
}

ul li{
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
  color: $mainGreen;
}

p{
  margin-bottom: 15px;
  line-height: 1.5;
}

p,ul li, ol li, span{
  font-size: 14px;
}

img{
  max-width: 100%;
  height: auto;
}