@media (max-width: 720px) {
  #masthead {
    .container {
      .main-nav {
        .mobile-nav-btn {
          display: inline-block;
        }
      }
    }
  }

  #desk_nav{
    display: none;
  }

  .header-centered{

    .container{

      grid-template-columns: 20% 1fr;

      .site-logo,
      .main-nav{
        display: flex;
      }

      .site-logo{
        margin-bottom: 0;
        align-items: center;
        justify-content: center;
      }

      .main-nav{
        justify-content: flex-end;
      }

    }

  }

  .header-distributed{

    .container{
      grid-template-columns: 1fr 1fr;
    }

    .site-logo{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 10%;
    }

    &__right{
      justify-content: flex-end;
      padding-right: 10%;
    }

  }

}
