.post{
  margin-bottom: 30px;

  a{
    color: $mainGreen;
  }

  img{
    max-width: 100%;
    height: auto;
  }

  .post-entry-header{
    margin-bottom: 5px;
  }

  .post-entry-content{
    margin-bottom: 10px;
  }
}

.post-entry-title{
  font-size: 18px;
}

.post-entry-thumbnail img{
  max-width: 100%;
  height: auto;
}

.cards-posts{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  article.post{
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 280px;
  }

  .post-entry-title,
  .post-entry-content,
  .post-entry-footer{
    padding: 10px;
  }

}
